
body{
	background-color: #eaeaea;
	color: #f4f4f4;
	height: 4000px;
}
::selection{
	
}
a{
	color: #f4f4f4;
}
a:hover{
	text-decoration: none;
	color: #ed0c4c;
}
h3{
	color: #222;
}
p{
	color: #222;
	font-family: OpenSans_Regular;
	font-size: 14px;
}
ul{
	list-style-type: none;
	margin: 0;
}
.container{
	width: 940px;
}
.titles{
	display: inline-block;
	text-align: center;
	padding-top: 45px;
	text-transform: uppercase;
	font-size: 32px;
	padding-bottom: 14px;
	border-bottom: 4px dashed #555;
	width: 100%;
}
.titles-white{
	color: #f4f4f4;
}
.titles-white-c{
	color: #f4f4f4;
	border-color: #f4f4f4;
}
/**** Typography ****/
@font-face {
	font-family: Static_Bold_Italic;
	src: url("../fonts/Static_Bold_Italic.otf") format("opentype");
}
@font-face {
	font-family: OpenSans_Regular;
	src: url("../fonts/OpenSans_Regular.ttf") format("truetype");
}
/**** Head-Section ****/
#head-section{

}
#main-title{
	text-align: center;
	margin-top: 50px;
}
#main-title a{
	font-size: 45px;
}
#main-desc{
	text-align: center;
	color: #f4f4f4;
	margin-top: 20px;
	font-style: italic;
}
#head-section{
	background: url('../img/2.jpg') fixed;
	background-size: 1400px auto;
	position: relative;
	z-index: 10000;
}
#head-section .container{
	height: 650px;
	position: relative;
	z-index: 3;
}
.flexslider{
	background-color: transparent;
	border: none;
	margin-top: 150px;
}
#slide-1{
	padding-bottom: 20px;
}
#slide-1 h2{
	text-align: center;
	font-family: Helvetica Neue;
	font-size: 60px;
	letter-spacing: -2px; /* 调整字母间距以防止溢出 */
	text-transform: uppercase;
	color: #444;
}
#slide-1 p{
	color: #fefefe;
	font-size: 24px;
	text-align: center;
	margin-top: 60px;
	line-height: 30px;
}
#btn-p{
	font-size: 48px !important;
	margin-top: 90px !important;
}
#purchase-btn{
	text-align: center;
	padding: 18px 28px;
	background-color: rgba(255, 255, 255, 0.2);
	font-family: Helvetica Neue;
	font-weight: 600;
	font-size: 16px;
	color: #f4f4f4;
	border-radius: 5px;
	-webkit-transition-duration: 600ms;
	-moz-transition-duration: 600ms;
	-o-transition-duration: 600ms;
	-ms-transition-duration: 600ms;
}
#purchase-btn:hover{
	background-color: #ED0C4C;
	-webkit-transition-duration: 600ms;
	-moz-transition-duration: 600ms;
	-o-transition-duration: 600ms;
	-ms-transition-duration: 600ms
}
#slide-1 h3{
	text-align: center;
	color: #f4f4f4;
	font-size: 38px;
	font-family: OpenSans_Regular; 
	margin-top: 40px;
}
.app-content{
	float: left;
	width: 55%;
	padding-left: 60px;
}
#slide-2 p{
	font-size: 15px;
}
.image-wrapper{
	float: left;
	margin-left: 20px;
	width:45%;
}
.image-wrapper{
	width:190px;
}
#slide-2 h3{
	color: #f4f4f4;
	font-size: 32px;
	line-height: 50px;
	text-shadow: 1px 1px 1px #777;
}
/**** features Section ****/
#navigation{
	z-index: 9999;
	position: relative;
	width: 100%;
	background-color: rgba(56,53,53,0.95);
	box-shadow: 0px 1px 10px #999;
	-webkit-box-shadow: 0px 1px 10px #222;
	-moz-box-shadow: 0px 1px 10px #222;
	-o-box-shadow: 0px 1px 10px #222;
	-ms-box-shadow: 0px 1px 10px #222;
}
#navigation ul{
	width: 64%;
	margin: 0 auto;
}
#navigation #menu li{
	float: left;
	text-align: center;
	font-size: 16px;
	border-right: 1px solid #999;
}
#navigation #menu li:last-child{
	border-right: none;
}
#navigation #menu li a{
	color: #eee;
	line-height: 45px;
	padding-right: 25px;
	padding-left: 25px;
}
#navigation #menu li a:hover{
	color: #ED0C4C;
}
#tinynav{
	display: none;	
}
#tinynav1{
	width: 400px;
	margin: 10px auto;
	height: 33px;
	display: none;	
}
#features-desc{
	margin-top: 30px;
	text-align: center;
}
.features{
	margin: 40px 0 0 0;
}
.features li{
	float: left;
	width:46%;
	margin-right: 8%;
	margin-top: 50px;
}
.right-side{
	margin-right: 0 !important;
}
.features li h3{
	margin: 0;
}
.features li h3 a{
	color: #444;
}
.service-img{
	float: left;
	margin-top: 8px;
	margin-right: 12px;
	height: 100px;
}
.copyrights{text-indent:-9999px;height:0;line-height:0;font-size:0;overflow:hidden;}
/**** Works Section ****/
.presentation-wrapper{
	margin-top: 70px;
	background-color: #1c2224;
	padding-bottom: 30px;
}
#presentation-desc{
	color: #f4f4f4;
	margin-top: 30px;
	width: 100%;
	text-align: center;
}
.ourHolder{
	margin: 0;
	margin-bottom: 70px;
}
ul#filterOptions {
	width: 56%;
	margin: 40px auto;
	overflow: hidden;
	margin-top: 90px;
}
ul#filterOptions li { height: 52px; margin-right: 2px; display: inline-block; float: left; }
ul#filterOptions li a {
	padding: 0 20px;
	background: rgba(61, 61, 61, 0.26);
	color: #f4f4f4;
	line-height: 40px;
	text-decoration: none;
	display: block;
	-webkit-transition-duration: 300ms;
	-moz-transition-duration: 300ms;
	-o-transition-duration: 300ms;
	-ms-transition-duration: 300ms;
}
ul#filterOptions li a:hover {
	background: rgba(44,44,44,0.26);
	-webkit-transition-duration: 300ms;
	-moz-transition-duration: 300ms;
	-o-transition-duration: 300ms;
	-ms-transition-duration: 300ms;
}
ul#filterOptions li.active a { background: #ed0c4c;
 	-webkit-transition-duration: 300ms;
	-moz-transition-duration: 300ms;
	-o-transition-duration: 300ms;
	-ms-transition-duration: 300ms; 
}
.gallery-img {
    width: 200px;  /* 你想要的宽度 */
    height: 150px;  /* 高度设置为auto，保持宽高比 */
}
.gallery-item{
	float: left;
	margin-right: 3%;
	margin-bottom: 3%;
	position: relative;
}
.gallery-item:hover .overlay-presentation{
	opacity: 1;
	-webkit-transition-duration: 500ms;
	-moz-transition-duration: 500ms;
	-o-transition-duration: 500ms;
	-ms-transition-duration: 500ms;
}
.overlay-journey{
	background-color: rgba(0,0,0, .8);
	background-image: url('../img/plus.png');
	background-repeat: no-repeat;
	background-position: center;
	position: absolute;
	top:0;
	width:100%;
	height: 100%;
	z-index: 2;
	opacity: 0;
	-webkit-transition-duration: 250ms;
	-moz-transition-duration: 250ms;
	-o-transition-duration: 250ms;
	-ms-transition-duration: 250ms;
}
/**** Quote Section ****/
.quote{
	height: 300px;
	background: url('../img/quote.jpg') fixed center no-repeat;
	background-size: cover;
	box-shadow: inset 0 0 14px #222;
	-webkit-box-shadow: inset 0 0 14px #222;
	-moz-box-shadow: inset 0 0 14px #222;
	-o-box-shadow: inset 0 0 14px #222;
	-ms-box-shadow: inset 0 0 14px #222;
}
.quote h3{
	color: #f4f4f4;
	margin-top: 95px;
	text-shadow: 1px 1px 2px #222;
	text-align: center;
}
/**** journey Section ****/
.journey{
	
}
.journey .container{
	padding-bottom: 50px;
}
#journey-desc{
	color: #333;
	margin-top: 30px;
	text-align: center;
}
.journey .container ul {
	margin: 0;
	margin-top: 80px;
}
.journey .container h4{
	margin-bottom: 6px;
	margin-top: 2px;
	font-family: Static_Bold_Italic;
	font-size: 28px;
	line-height: 25px;
}
.meta{
	font-size: 13px;
}
.journey .container h4 a{
	color: #ed0c4c;
}
.journey .container ul li{
	float: left;
	width:44%;
	margin-right: 12%;
	margin-bottom: 40px;
}
/**** About Section ****/
.about{
	background-color: #462844;
	padding-bottom: 60px;
}
#about-desc{
	color: #f4f4f4;
	margin-top: 30px;
	text-align: center;
}
.about ul{
	margin-top: 60px;
}
.about ul li{
	float: left;
	margin-right: 1%;
	background-color: rgba(22,22,22,0.25);
	padding: 20px;
}
.about ul li img{
	opacity: .4;
	-webkit-transition-duration: 300ms;
	-moz-transition-duration: 300ms;
	-o-transition-duration: 300ms;
	-ms-transition-duration: 300ms;
	width: 184px; /* 新添加的宽度 */
        height: auto; /* 新添加的高度，保持宽高比 */
}
.about ul li img:hover{
	opacity: 1;
	-webkit-transition-duration: 300ms;
	-moz-transition-duration: 300ms;
	-o-transition-duration: 300ms;
	-ms-transition-duration: 300ms;
}
.about ul li h3{
	color: #f4f4f4;
	text-align: center;
}
.about ul li h6{
	color: #f4f4f4;
	text-align: center;
}
.social-staff{
	width:118px;
	margin: 0 auto;
}
.social-staff ul{
	margin-top: 0;
}
.social-staff ul li{
	margin-right: 0;
	background: none;
	padding: 0;
	padding-bottom: 8px;
}
.social-staff ul li a{
	width:35px;
	height: 35px;
	background-color: rgba(20,20,20,0.3);
	margin-right: 4px;
	float: left;
	background-repeat: no-repeat;
	background-size: 25px;
	border-radius: 20px;
	background-position: center center;
	-webkit-transition-duration: 300ms;
	-moz-transition-duration: 300ms;
	-o-transition-duration: 300ms;
	-ms-transition-duration: 300ms;
}
.social-staff ul li a:hover{
	background-color: #ED0C4C;
}
/**** Google Map Section ****/
.gmap{
	height: 320px;
	position: relative;
	-webkit-filter: grayscale(40%);
	-o-filter: grayscale(40%);
	-ms-filter: grayscale(40%);
	-moz-filter: grayscale(40%);
}
.gmap-frame{
	border: none;
	position: absolute;
	top:0;
	width:100%;
	height: 100%;
}
/**** Contact Section ****/
.contact{
	background-color: #EBBF34;
	padding-bottom: 50px;
	position: relative;
	z-index: 9;
}
.contact-desc{
	width: 48%;
	float: left;
	margin-right: 2%;
	margin-top: 40px;
}
.contact-form-holder{
	width:50%;
	float: left;
	margin-top: 50px;
}
.contact-desc h4{
	margin-bottom: 30px;
	font-family: opensans_regular;
}
.contact-desc p{
	color: #eee;
}
form{
	margin: 0 !important;
}
#contact-form{
	display: inline;
}
input::-webkit-input-placeholder {
    color:#f4f4f4;
    text-indent: 5px;
}
input:-moz-placeholder {
    color:#f4f4f4;
    text-indent: 5px;
}
input:-ms-input-placeholder {
    color:#f4f4f4;
    text-indent: 5px;
}
textarea::-webkit-input-placeholder {
    color:#f4f4f4;
}
textarea:-moz-placeholder {
    color:#f4f4f4;
}
textarea:-ms-input-placeholder {
    color:#f4f4f4;
}
#contact-form input[type='text'], #message{
	background-color: rgba(255,255,255,0.2);
	border: none;
	border-radius: 1px;
	text-indent: 5px;
}
#name{
	float: left;
	width:45%;
	margin-right: 11px;
	height: 35px;
}
#email{
	width:44%;
	height: 35px;
}
#subject{
	width:94% !important;
	height: 35px;
}
#send-btn{
	width: 150px;
	height: 45px;
	font-size: 18px;
	font-weight: 500;
	border-radius: 4px;
	border: none;
	color: #f4f4f4;
	margin-top: 4px;
	background-color: #ED0C4C;
	-webkit-transition-duration: 300ms;
	-moz-transition-duration: 300ms;
	-o-transition-duration: 300ms;
	-ms-transition-duration: 300ms;
}
#send-btn:hover{
	background-color: rgba(255,255,255,0.2);
	text-decoration: none;
	-webkit-transition-duration: 300ms;
	-moz-transition-duration: 300ms;
	-o-transition-duration: 300ms;
	-ms-transition-duration: 300ms;
}
#message{
	width: 94%;
	max-width: 94%;
	height: 130px;
	max-height: 200px;
	margin-bottom: 5px;
	margin-right: 4px;
}
.success{
	margin-left: 10px;
	float: left;
	height: 15px;
	color: rgba(238,26,65,1);
	display: none;
	margin-top: 15px;
}
/**** Social Icons ****/
.contact-desc .social{
	width:200px;
	float: left;
	margin-top: 10px;
	margin-right: 5px;
}
.contact-desc ul li a{
	width:35px;
	height: 35px;
	background-color:rgba(117,117,117,0.1);
	margin-right: 4px;
	float: left;
	background-repeat: no-repeat;
	background-size: 25px;
	outline: 0;
	border-radius: 20px;
	background-position: center center;
	-webkit-transition-duration: 300ms;
	-moz-transition-duration: 300ms;
	-o-transition-duration: 300ms;
	-ms-transition-duration: 300ms;
}
.contact-desc ul li a:hover{
	background-color: #ED0C4C;
	-webkit-transition-duration: 300ms;
	-moz-transition-duration: 300ms;
	-o-transition-duration: 300ms;
	-ms-transition-duration: 300ms;
}
.contact-desc ul li{
	-webkit-transition-duration: 300ms;
	-moz-transition-duration: 300ms;
	-o-transition-duration: 300ms;
	-ms-transition-duration: 300ms;
}
.contact-desc ul li:last-child{
	margin-right: 0;
}
li.facebook a{
	background-image: url('../img/icons/pace/facebook.png');
}
li.twitter a{
	background-image: url('../img/icons/pace/twitter.png');
}
li.behance a{
	background-image: url('../img/icons/pace/vimeo.png');
}
li.dribbble a{
	background-image: url('../img/icons/pace/dribbble.png');
}
li.linkedin a{
	background-image: url('../img/icons/pace/linkedin.png');
}
/**** Footer Section ****/
.footer{
	background-color: #383636;
}
#cp-text{
	margin-top: 40px;
	margin-bottom: 40px;
	color: #f4f4f4;
	text-align: center;
}
#cp-text a{
	color: #f4f4f4;
	-webkit-transition-duration: 300ms;
	-moz-transition-duration: 300ms;
	-o-transition-duration: 300ms;
	-ms-transition-duration: 300ms;
}
#cp-text a:hover{
	color: #ED0C4C;
	-webkit-transition-duration: 300ms;
	-moz-transition-duration: 300ms;
	-o-transition-duration: 300ms;
	-ms-transition-duration: 300ms;
}
/**** Media queries ****/
@media only screen and (max-width: 940px) {
	.container{
		width:100%;
	}
	.ourHolder{
		margin-left: 3%;
	}
	.gallery-item{
		margin-right: 1%;
		margin-bottom: 1%;
	}
	#navigation ul{
		width: 70%;
		margin: 0 auto;
	}
}
@media only screen and (max-width: 855px) {
	#navigation ul{
		width: 80%;
		margin: 0 auto;
	}
}
@media only screen and (max-width: 768px){
	.flexslider{
		margin-top: 110px;
	}
	.gallery-item{
		margin-right: 12%;
		margin-bottom: 8%;
	}
	.about ul{
		margin-left: 10%;
	}
	.about ul li{
		margin-right: 10%;
		margin-bottom: 20px;
	}
	.journey .container ul li{
		width: 70%;
		margin-right: 1%;
	}
	.social-staff ul li{
		margin-right: 0;
		margin-bottom: 0 !important;
	}
	.contact-desc{
		width:80%;
		margin-left: 8%;
	}
	.contact-form-holder{
		width:80%;
		margin-left: 8%;
	}
	#email{
		width:45%;
	}
}
@media only screen and (max-width: 767px){
	#menu{
		display: none;
	}
	#tinynav1{
		display: block;	
	}
}
@media only screen and (max-width: 700px){
	.features li{
		width: 70%;
		margin-right: 0;
	}
	.gallery-item{
		margin-right: 1%;
		margin-bottom: 1%;
	}
}
@media only screen and (max-width: 610px){
	.app-content{
		width:98%;
		padding-left: 20px;
		text-align: center;
	}
	.image-wrapper{
		display: none;
	}
}
@media only screen and (max-width: 550px){
	ul#filterOptions{
		width: 80%;
	}
	.journey .container ul li{
		width: 90%;
	}
}
@media only screen and (max-width: 480px){
	.features li{
		width: 95%;
		margin-right: 0;
	}
	ul#filterOptions{
		width: 95%;
	}
}
